body {width: 100%;}
/* div principal*/
#menu-inicio{
    width: 100%;
    height: 93px;
    /*background-color: green;*/
    border-bottom:solid 1px #dfe0e5;
    
}
/* cuadro primero, anciana cordelia*/
#senior{
    margin-left: 30%;
    margin-top: 0.5%;
    position: absolute;
}
#Notificacion-Usuario{
    margin-left: 57%;
    margin-top: -4%;
    position: absolute;
    color: white;
    font-family: Arial;
    font-weight: bold;
}
#cordelia{
    position: absolute;
    margin-left: 58%;
    margin-top: -2%;
    font-family: Arial;
    font-weight: bold;
}
#notificacion-senior{
    margin-left: 33%;
    position: absolute;
}
#setting{
    position: absolute;
    margin-left: 67.5%;
    margin-top: -1%;
    font-family: Arial;
    font-weight: bold;
}
#logout-text{
    position: absolute;
    margin-left: 77.5%;
    margin-top: -1%;
    font-family: Arial;
    font-weight: bold;
    color: red;
}

/*configuracion*/
#config{
    margin-left: 45%;
    margin-top: 1.2%;
    position: absolute;
    width: 30px;
    height: 30px;
}
/*separacion */
#puntos{
    margin-left: 51%;
    margin-top: 2.5%;
    position: absolute;
}

/* boton rojo, salir*/
#logout{
    margin-left: 55%;
    margin-top: 1.2%;
    position: absolute;
}
#num-notificaciona{
    margin-left: 34%;
    position: absolute;
}
#numero{
    position: absolute;
}
/*fin menu principal */

/* caja1 - alerts */
/*genericos*/
#cuadricula{
    margin-top: 8px;
    margin-left: 8px; 
}
#imagenCuadriculas{
    position: absolute;
    margin-top: 20px;
}

#notificacionPParte{
    position: absolute;
    margin-left: 230px;
    margin-top: 10px;
}

#flechaPParte{
    position: absolute;
    margin-top: 128px;
    margin-left: 260px;
}
/*alerts*/
#alerts{
    width: 300px;
    height:150px;
    margin-top: 3%;
    margin-left: 10%;
    background-color:#f4f5f7;
    border:solid 1px #cccfd6
}

#imagenCuadriculas{
    position: absolute;
    margin-top: 20px;
}
#textoBloq1{
    margin-left: 150px;
    margin-top: 60px;
    font-family: Arial;
    font-size: 16.5pt;
    font-weight: bold;
    color: #868686;
}
#notificacion-alerts{
    position: absolute;
    margin-left: 263px;
    margin-top: -0.4%;
    color: white;
    font-weight: bold;
    font-family: Arial;
}
#notificacion-puntos{
    position: absolute;
    margin-left: 150px;
    margin-top: -0.8%;
    color: white;
    font-weight: bold;
    font-family: Arial;
}
/*Caja2 - Remiders*/
#reminders{
    width: 300px;
    height:150px;
    margin-top: -8.18%;
    margin-left: 28%;
    background-color:#f4f5f7;
    border:solid 1px #cccfd6;
}
/*Caja 3 - Circle*/
#circle{
    width: 300px;
    height:150px;
    margin-top: -8.18%;
    margin-left: 46%;
    background-color:#f4f5f7;
    border:solid 1px #cccfd6;
}
/*Caja 4 - daily*/
#daily{
    width: 300px;
    height:150px;
    margin-top: 1%;
    margin-left: 10%;
    background-color:#f4f5f7;
    border:solid 1px #cccfd6;
}
/*Caja 5 - repository*/
#repository{
    width: 300px;
    height:150px;
    margin-top: -8.18%;
    margin-left: 28%;
    background-color:#f4f5f7;
    border:solid 1px #cccfd6;
}
/*Caja 6 - reports*/
#reports{
    width: 300px;
    height:150px;
    margin-top: -8.18%;
    margin-left: 46%;
    background-color:#f4f5f7;
    border:solid 1px #cccfd6;
}
/*Caja 4 - points*/
#points{
    width: 300px;
    height:150px;
    margin-top: 1%;
    margin-left: 10%;
    background-color:#f4f5f7;
    border:solid 1px #cccfd6;
}
#rectangulo{
    position: absolute;
    margin-left: 115px;
}
#barra-alert{
    margin-top: 3%;
    height: 58px;
    width: 100%;
    background-color: #dfe0e5;
}
/* barra separacion */
#imagen-Alert-Verde{
    margin-top: 3.5px;
    margin-left: 40px;
    height: 50px;
    width: 50px;
    position:  absolute;
}
#text-barra{
    position: absolute;
    margin-left: 140px;
    font-family: Arial;
    font-size: 21pt;
    margin-top: 14px;
    color: #868686;
}
/*caja  de contenido alert*/
#contenido-alerts{
    width: 940px;
    height: 620px;
    border: solid 1px  #cccfd6;
    margin-left: 10%;
    margin-top: 2%;
}
#barra-contenido-alert{
    width: 940px;
    height: 60px;
    border-bottom: solid 1px  #cccfd6;
}
#botonRed{
    margin-top: 20px;
    margin-left: 20px;
    width: 18px;
    height: 19px;
    border-radius: 5px;
    border:solid 2px red;
    position: absolute;
}
#rectangulo-Alert{
    width: 170px;
    height: 60px;
    margin-left: 4%;
    position: absolute;
}
#texto-rectangulo-Red{
    position: absolute;
    margin-left: 5.3%;
    color:white;
    font-family: Arial;
    font-size: 15pt;
}
#inbox-rectangulo-Red{
    position: absolute;
    font-family: Arial;
    font-size: 15pt;
    margin-left: 15%
}
#rectangulo-Alert-gris{
    position: absolute;
    width: 92px;
    height: 60px;
    margin-left: 20%;
}
#sent-notificacion{
    position: absolute;
    width: 25px;
    height: 25px;
    margin-left: 18%;
    margin-top: -0.5%;
}
#sent-rectangulo-gris{
    position: absolute;
    font-family: Arial;
    font-size: 15pt;
    margin-left: 21%
}
#sent-num-notificacion{
    position:  absolute;
    font-family: arial;
    margin-left: 18.5%;
    margin-top: -0.3%;
    color:white;
    font-weight: bold;
}
#barraBusqueda{
    position:  absolute;
    margin-left: 40%;
    margin-top: 0.7%;
    width: 160px;
    height: 31px;
}
#botonSeleccionado{
    margin-top: 20px;
    margin-left: 20px;
    width: 18px;
    height: 19px;
    border-radius: 5px;
    border:solid 2px #cccfd6 ;
    position: absolute;
}
#seleccionadoMensaje{
    width: 20px;
    height: 20px;
    position:  absolute;
    margin-top: 24px;
    margin-left: 80px;
}
#noSeleccionadoMensaje{
    width: 15px;
    height: 15px;
    position:  absolute;
    margin-top: 24px;
    margin-left: 80px;
    border-radius: 50%;
    background: #c9ccd1;
    border: 0px;
}
#nombre-email{
    font-size: 21px;
    font-family:  Arial;
    margin-left: 110px;
    position: absolute;
    font-weight: bold;
}

#asunto{
    font-size: 21px;
    font-family:  Arial;
    margin-left: 330px;
    position: absolute;
    color: grey;
}
#fecha{
    font-size: 21px;
    font-family:  Arial;
    margin-left: 720px;
    position: absolute;
    color: grey;
}
#contenidoEmail{
    margin-top: 6%;
    width:939px;
    height:263px;
    border: solid 1px #cccfd6;
    /*border-top: solid 1px #cccfd6;*/
    background: #f7f7f7;
}
#asunto-msn{
    font-size: 21px;
    font-family:  Arial;
    margin-left: 64px;
    position: absolute;
    color: grey;
}
#mensaje{
    font-size: 17px;
    font-family:  Arial;
    margin-left: 64px;
    margin-top: 50px;
    position: absolute;
    color: grey;
}
#replay{
    background-color: #02dcc1;
    width: 86px;
    height: 40px;
    margin-top: 209px;
    margin-left: 696px;
    color: #048179;
    text-align: center;  
    border: 0px;
}
#delete{
    background-color: red;
    width: 86px;
    height: 40px;
    margin-top: 209px;
    margin-left: 10px;
    color: white;
    text-align: center;  
    position: absolute;
    border: 0px;
}
#seleccion1{
    margin-top:5px;
    
}
#seleccion2{
    margin-top:55px;
    
}
#seleccion3{
    margin-top:100px;
    
}
#seleccion4{
    margin-top: 145px;
}
#rectangulo-msn-gris{
    width: 180px;
    height: 40px;
    margin-left: 705px;
    margin-top: 50px;
}
#msn{
    margin-top: -1.5%;
    margin-left: 720px;
    position: absolute;
    font-size: 14px;
    font-family:  Arial;
    color: grey;
    font-weight: bold;
}
#menu-mes{
    margin-left: 70%;
    margin-top: 1%;
    position: absolute;
}
#contenido-calendario{
    margin-left: 10%;
    margin-top: 3%;
    width:939px;
    height:463px;
    border: solid 1px #cccfd6;
   background: #fcfcfe;
}
#today{
    font-family: arial;
    font-size: 21pt;
    font-weight: bold;
    color:#939798;
    margin-left: 15%;
}
#fecha1{
    font-family: arial;
    font-size: 18pt;
    color:#939798;
    margin-left: 10%;
    margin-top: -2%;
}
#rectangulo-calendario{
    width: 250px;
    height: 60px;
    margin-left: 4%;
    position: absolute;
}
#contenido-cal-rojo1{
    font-family: arial;
    font-size: 15pt;
    color: #f6fbf4;
    margin-left: 7%; 
    position: absolute;
}
#numero-tlf{
    font-family: arial;
    font-size: 10pt;
    color:#fef5f0;
    position: absolute;
    margin-left: 7%; 
    margin-top: 2.3%;
}
#rectangulo-test{
    width: 250px;
    height: 60px;
    margin-left: 4%;
    margin-top: 4%;
    position: absolute;
}
#contenido-test1{
    margin-left: 7%;
    position: absolute;
    color: #f6fbf4;
    font-size: 15pt;
    font-family: arial;
    margin-top: 4.5%;
}
#contenido-test2{
    margin-left: 7%;
    position: absolute;
    color:#fef5f0;
    font-size: 10pt;
    font-family: arial;
    margin-top: 5.7%;
}
#rectangulo-calendario-gris{
    margin-top: 7%;
    margin-left: 4%;
    position: absolute;
    width: 250px;
    height: 180px;
    background: #e4e4e6;
}
#titulo-apartado-calendario{
    position: absolute;
    font-family: arial;
    font-size: 10pt;
    margin-left: 15%;
    color:#6f6f71;
}
#titulo-apartado1-calendario{
    position: absolute;
    font-family: arial;
    font-size: 13pt;
    font-weight: bold;
    margin-left: 50%;
    margin-top: 4%;
    color: #616163;
}
#contenido-apartado-calendario{
    margin-top: 15%;
    font-size: 9pt;
    margin-left: 15%;
    color:#58585a;
}
#change{
    color: #048179;
    border:none;
    background: #00dabf;
    width: 80px;
    height: 30px;
    margin-top: 12%;
    margin-left: 19%;
    font-weight: bold;
    font-family: arial;
}
#done{
    color: white;
    border:none;
    position: absolute;
    background: red;
    width: 80px;
    height: 30px;
    margin-top: 12%;
    margin-left: 7%;
    font-weight: bold;
    font-family: arial;
}
#titulo-calendario{
    font-family: arial;
    font-size: 21pt;
    font-weight: bold;
    color:#939798;
    margin-left: 32%;
    position: absolute;
    margin-top: -4%;
}
#cuadro-calendario-semana{
    background: #00dabf;
    width: 370px;
    height: 40px;
    margin-left: 26%;
    position: absolute;
}
#dias{
    font-family: arial;   
    font-size: 21pt;
    position: absolute;
    margin-top: 2%;
    margin-left: 4%;
    letter-spacing: 9pt;
    color:#767475;
}
#seleccionMes{
    position: absolute !important;
    margin-left: 28.8%;
    margin-top: 3.7%;
    width: 40px;
    height: 40px;
}
#seleccionMes1{
    position: absolute !important;
    margin-left: 39.8%;
    margin-top: 3.7%;
    width: 40px;
    height: 40px;
    opacity: 1.0;
}
#dia-senialado{
    position: absolute !important;
    margin-left: 29.4%;
    margin-top: 3.8%;
    color: white;
    font-size: 30px;
    
}
#dias-mes{
    font-family: arial;   
    font-size: 20pt;
    position: absolute;
    margin-top: 4%;
    margin-left: 26.6%;
    word-spacing: 23pt;
    color:#767475; 
}
#dias-mes1{
    font-family: arial;   
    font-size: 21pt;
    position: absolute;
    margin-top: 6.5%;
    margin-left: 26.6%;
    word-spacing: 15pt;
    color:#767475; 
}
#dias-mes2{
    font-family: arial;   
    font-size: 21pt;
    position: absolute;
    margin-top: 8.5%;
    margin-left: 26.2%;
    word-spacing: 12pt;
    color:#767475; 
    line-height: 40pt; 
}


/* Comienza Circle*/
#contenido-circle{
    margin-left: 10%;
    margin-top: 3%;
    width:939px;
    height:790px;
    border: solid 1px #cccfd6;
   background: #f7f6f4;
}

#menu-cicle1{
    width: 313px;
    height: 80px;
    background: white;
    border: 1px solid #e2dedb;
    position: absolute;
}
#menu-cicle2{
    width: 313px;
    height: 80px;
    background: white;
    border: 1px solid #e2dedb;
    border-bottom: red solid 4px;
    margin-left: 313px;
    position: absolute;
}
#menu-cicle3{
    width: 313px;
    height: 80px;
    background: white;
    border: 1px solid #e2dedb;
    margin-left: 626px;
    position: absolute;
}
#texto-interno{
    text-align: center;
    margin-top: 10%;
    color: #969a99;
    font-family: arial;   
    font-size: 15pt;
}
#intro-circle{
    margin-left: 320px;
    background: #e4e3e1;
    width: 300px;
    height: 30px;
    position: absolute;
    margin-top: 6%;
}
#contenido-intro-circle{
    margin-top: 2.5%;
    text-align: center;
    font-family:  arial;
    font-size: 10pt;
    color:#8d8c8a;
}
/* CUADRICULAS */
#cuadricula1-circle{
    width: 290px;
    height: 160px;
    color: white;
    border: solid 1px #e8e6e7;
    border-left: solid  9px red;
   margin-top: 19%;
   margin-left: 14%;
 
}
#nombre{
    position:  absolute;
    font-size: 15pt;
    font-family: arial;
    color:grey;
    margin-left: 2%;
    margin-top: 1%;
    font-weight: bold;
}
#ocupacion{
    position:  absolute;
    font-size: 13pt;
    font-family: arial;
    color:grey;
    margin-left: 6%;
    margin-top: 2.5%;
}
#imagen-circle{
    margin-top: 18%;
    margin-left: 7%;
    border: 8px solid #e8e6e7;
    border-radius: 50px;
}
#send-message{
    background: red;
    width: 150px;
    height: 35px;
    margin-left: 7.4%; 
    margin-top: -1%;
    position: absolute;  
    
}
#text-send-message{
    text-align: center;
    margin-top:8px;
    font-family: arial;
}
#cuadricula2-circle{
    width: 290px;
    height: 160px;
    color: white;
    border: solid 1px #e8e6e7;
    border-left: solid  9px red;
   margin-top: 3%;
   margin-left: 14%;
 
}
#nombre2{
    position:  absolute;
    font-size: 15pt;
    font-family: arial;
    color:grey;
    margin-left: 4.5%;
    margin-top: 1%;
    font-weight: bold;
}
#ocupacion2{
    position:  absolute;
    font-size: 13pt;
    font-family: arial;
    color:grey;
   
    margin-left: 10%;
    margin-top: 2.5%;
}
#cuadricula3-circle{
    width: 290px;
    height: 160px;
    color: grey;
    border: solid 1px #e8e6e7;
    border-left: solid  9px #00d7c5;
   margin-top: 3%;
   margin-left: 14%;
 
}
#send-message-azul{
    background: #00d7c5;
    width: 150px;
    height: 35px;
    margin-left: 7.4%; 
    margin-top: -1%;
    position: absolute;  
}
#cuadricula4-circle{
    width: 290px;
    height: 160px;
    color: grey;
    border: solid 1px #e8e6e7;
    border-left: solid  9px #00d7c5;
   margin-top: -28.3%;
   margin-left: 27%;
   position: absolute;
 
}
#nombre4{
    position:  absolute;
    font-size: 15pt;
    font-family: arial;
    color:grey;
    margin-left: 39%;
    margin-top: 5%;
    font-weight: bold;
}
#ocupacion4{
    position:  absolute;
    font-size: 13pt;
    font-family: arial;
    color:grey;
    margin-left: 75%;
    margin-top: 15%;
}
#imagen-circle4{
    margin-top: 15%;
    margin-left: 7%;
    border: 8px solid #e8e6e7;
    border-radius: 50px;
}
#send-message-azul1{
    background: #00d7c5;
    width: 150px;
    height: 35px;
    margin-left: 48%; 
    margin-top: -5%;
    position: absolute;  
}
#cuadricula5-circle{
    width: 290px;
    height: 160px;
    color: white;
    border: solid 1px #e8e6e7;
    border-left: solid  9px red;
   margin-top: -18.5%;
   margin-left: 27%;
   position: absolute;
}
#nombre5{
    position:  absolute;
    font-size: 15pt;
    font-family: arial;
    color:grey;
    margin-left: 30%;
    margin-top: 5%;
    font-weight: bold;
}
#ocupacion5{
    position:  absolute;
    font-size: 13pt;
    font-family: arial;
    color:grey;
    margin-left: 68%;
    margin-top: 15%;
}
#imagen-circle5{
    margin-top: 15%;
    margin-left: 7%;
    border: 8px solid #e8e6e7;
    border-radius: 50px;
}
#send-message-rojo5{
    background: red;
    width: 150px;
    height: 35px;
    margin-left: 48%; 
    margin-top: -5%;
    position: absolute;  
}
/*iconos*/
#tlf-img{
    width: 30px;
    height:30px;
    position: absolute;
    margin-left: 4.6%;
    margin-top: 1.2%;
}
#calendar-img{
    position: absolute;
    width: 30px;
    height:30px;
    margin-left: 4.6%;
    margin-top: 4.5%;
}